.greetingMsg {
    text-align: center;
    color: beige;
    font-size: 50px;
    position: relative;
    top: 30%;
}

p{
    font-size: 25px;
    margin-top: 10px;
    color: rgb(178, 213, 34);
}


#no-scroll {
    overflow: hidden;
    height: 100vh;
  }