.skills {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills__block {
  display: flex;
  flex-wrap: wrap;
  color: white;
}

.skills__block__item {
  padding: 10px;
  text-align: center;
}

.skills__block__item__title {
  padding: 10px;
  color: beige;
}

.skills__block__item__img {
  max-height: 100px;
  max-width: 100px;
}

p {
  padding: 30px;
}
